@import "../../styles/variables.scss";

.container {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 8px;
  margin: 8px 0;

  &:hover {
    color: $gray;
    background-color: #cecece;
  }

  &:last-child {
    margin-right: 0px;
  }

  &.primary {
    background-color: $lightBlue;
  }

  &.secondary {
    background-color: $lightBlack;
  }
}
