.profileHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;

  .avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }

  .profileInfo {
    margin-left: 24px;
  }
}

.repositoriesContainer {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;

  .repositoryContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0;

    .repositoryName {
      display: flex;
      align-items: center;

      .link {
        color: #ffffff;
        text-decoration: none;
      }

      .link:visited {
        color: #ffffff;
      }

      .link:hover {
        text-decoration: underline;
      }

      .icon {
        width: 16px;
        height: 16px;
        color: #ffffff;
        margin-right: 16px;
      }
    }
  }
}
