@import "../../styles/variables";

.paginationContainer {
  display: flex;
  justify-content: center;

  .paginationPage {
    margin: 0 5px;
    border-radius: 50%;
    background-color: $gray;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
